#
# DO NOT USE UNNECESSARY QUOTES around values.
# This is a docker --env file and everything following the '=' will be used as value.
# Quotes will end up IN the values, which can break things.
#

LOCAL_DOMAIN=__REPLACE_ME_WITH_DOMAIN__
VIRTUAL_HOST=__REPLACE_ME_WITH_DOMAIN__

SMTP_FROM_ADDRESS="__REPLACE_ME_WITH_MASTODON_NOTIFICATIONS_DISPLAY_NAME__" <__REPLACE_ME_WITH_MASTODON_NOTIFICATIONS_EMAIL__>
SMTP_SERVER=__REPLACE_ME_WITH_MASTODON_NOTIFICATIONS_SMTP_SERVER__
SMTP_PORT=__REPLACE_ME_WITH_MASTODON_NOTIFICATIONS_SMTP_SERVER_PORT__
SMTP_LOGIN=__REPLACE_ME_WITH_MASTODON_NOTIFICATIONS_SMTP_USER__
SMTP_PASSWORD=__REPLACE_ME_WITH_MASTODON_NOTIFICATIONS_SMTP_PASSWORD__

# These might need changing depending on the SMPT server you're using
SMTP_AUTH_METHOD=plain
SMTP_OPENSSL_VERIFY_MODE=peer


# These defaults can largely remain untouched
DEFAULT_LOCALE=en
SINGLE_USER_MODE=false
DB_HOST=mastodon-db
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=
REDIS_HOST=mastodon-redis
REDIS_PORT=6379
REDIS_PASSWORD=
ES_HOST=mastodon-es
ES_ENABLED=true
