[Unit]
Description=Caddy web server front-end and HTTPS termination for Mastodon
# On first boot, mastodon-setup will need some time to create mastodon.env used below.
Requires=mastodon-net-external.service mastodon-setup.service
After=mastodon-net-external.service mastodon-setup.service

[Service]
WorkingDirectory=/opt/caddy
User=www
# for LOCAL_DOMAIN
EnvironmentFile=/opt/mastodon/mastodon.env
ExecStart=/usr/bin/docker run --rm  --network=mastodon-net-external \
                              --volume=/opt/caddy/etc:/etc/caddy \
                              --volume=/opt/caddy/logs:/logs \
                              --volume=/opt/caddy/data:/data \
                              --volume=/opt/caddy/config:/config \
                              --volume=/opt/mastodon/public:/srv/mastodon/public \
                              --hostname="${LOCAL_DOMAIN}" \
                              --name=caddy-webserver \
                              -p 80:80 \
                              -p 443:443 \
                              caddy:2-alpine
ExecStop=/usr/bin/docker stop caddy-webserver

[Install]
WantedBy=multi-user.target
