[Unit]
Description=Sidekiq prometheus metrics exporter
# On first boot, mastodon-setup will need some time to create mastodon.env used below.
Requires=mastodon-redis.service mastodon-setup.service
After=mastodon-redis.service mastodon-setup.service

[Service]
WorkingDirectory=/opt/mastodon
User=mastodon
EnvironmentFile=/opt/mastodon/monitoring-versions.env
ExecStart=/usr/bin/docker run --rm --network=mastodon-net-internal \
                              --name=metrics-provider-sidekiq \
                              --label "org.label-schema.group=monitoring" \
                              --env-file="./mastodon.env" \
                              --env RACK_ENV="production" \
                              ${SIDEKIQ_EXPORTER_IMAGE}

ExecStop=/usr/bin/docker stop metrics-provider-sidekiq

[Install]
WantedBy=multi-user.target
